.git/
.gitignore
.dockerignore

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

.env
.env.*
.venv/
venv/
ENV/

.vscode/
.idea/
*.code-workspace

Logs/
*.log

.dist/
.build/

**/*.ipynb

