# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# Environments
.env
.env.*
.venv/
venv/
ENV/

# IDE / Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
Logs/*.log
Logs/*.txt

# Coverage
htmlcov/
.coverage*

# Docker
*.pid
.docker/

# Project
/.dist/
/.build/

###
.github
docker-compose.yml.bak
docker-compose.yml.broken.*
static/index.html.bak.2025-10-08_224314
static/script.js.bak.2025-10-08_224314
static/index.html.bak.2025-10-08_231457
.gitignore
static/script.js.bak.2025-10-08_231503
